* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Gemunu Libre', sans-serif;
        font-weight: 200;
        /* Importante: você só carregou o peso 200 (Extra Light) */
    background-color: #222831;
}

html {
    scroll-behavior: smooth;
}



/*NAV INICIO*/
.nav {
    background-color: #0D0D0D;
    height: 70px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.01s ease;
}

.nav-list {
    display: flex;
    list-style: none;
    transition: 0.5s ease-in-out;

}

/*TITULO PRINCIPAL*/
.titulo {
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 200;
    color: #7cb3da;
    position: absolute;
    left: 120px;
    transition: 0.5s ease-in-out;



}

.titulo:hover {
    color: #c4ddef;
    cursor: pointer;

}

.nav-list a {
    text-decoration: none;
    color: #607e96;
    padding: 15px;
    transition: 0.5s ease-in-out;



}

/*INICIO LINKS*/
.nav-list a span {
    position: relative;
}

.nav-list a span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #708b96;
    transition: width 0.3s ease-in-out;
    border-radius: 5px;
}

.nav-list a:hover span::after {
    color: #6a838d;
    width: 100%;

}

.nav-list a:hover {
    color: #90ad70;
}



/* --- ÍCONES SOCIAIS --- */

.social-links {
    position: absolute;
    right: 160px;
    display: flex;
    gap: 20px;

}

.social-links a {
    display: inline-block;
    text-decoration: none;
    color: #547e9f;
    font-size: 1.8rem;
    transition: 0.5s ease-in-out;

}


.social-links a:hover {
    transform: translateY(-5px);

}

.social-links a.instagram:hover {
    color: #d62976;

}


.social-links a.github:hover {
    color: #ffffff;
}


.social-links a.linkedin:hover {
    color: #0077b5;
}

.social-links a.twitter:hover {
    color: #0016df;
}


.nav.rolagem .titulo,
.nav.rolagem .nav-list a,
.nav.rolagem .social-links a {
    color: rgb(168, 168, 168)
}

.nav.rolagem {
    background-color: rgba(0, 0, 0, 0.372);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

nav.rolagem .titulo:hover,
.nav.rolagem .nav-list a:hover {
    color: rgb(255, 255, 255);
}

nav.rolagem .social-links a.instagram:hover {
    color: #d62976;

}


nav.rolagem .social-links a.github:hover {
    color: #ffffff;
}


nav.rolagem .social-links a.linkedin:hover {
    color: #0077b5;
}

nav.rolagem .social-links a.twitter:hover {
    color: #0016df;
}

/*Main*/

.main {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #0D0D0D;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 150px;
    justify-content: space-between;

}




.main h1 {
    color: rgb(255, 255, 255);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    line-height: 49.5px;
    font-size: 40px;
}

.main h4 {
    color: #90ad70;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 22px;

}

.main p {
    color: rgba(255, 255, 255, 0.66);
    margin-bottom: 20px;
    font-size: 30px;
    padding-left: 20px;
    text-decoration: none;


}

.texto-inicial a {
    text-decoration: none;
}

.call-to-action {
    position: relative;
    display: inline-flex;
    /* Alinha ícone e texto na mesma linha */
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: #0e98e2;

    padding: 10px 0;
    /* Ajuste o padding conforme necessário */
    transition: color 0.3s ease;
}

.texto-btn {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* Efeito elástico */
}

.icon {
    position: absolute;
    left: -40px;
    /* Começa bem longe à esquerda */
    opacity: 0;
    display: flex;
    align-items: center;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* --- A MÁGICA DO EMPURRÃO --- */

.call-to-action:hover .texto-btn {
    /* O valor do translateX deve ser um pouco maior que a largura da seta */
    transform: translateX(45px);
}

.call-to-action:hover .icon {
    left: 0;
    /* A seta assume o lugar onde o texto estava */
    opacity: 1;
}

.call-to-action:hover {
    color: #0a9dec;
}

/*FIm Main*/

/*Sobre*/


.about {
    width: 100%;
    background-color: #141414;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.about div {
    max-width: 50%;
    padding-right: 60px;
}

.about img {

    max-width: 330px;
    border-radius: 10px;
    box-shadow: rgb(44, 44, 44) 0px 0px 20px 10px;
    transition: 0.9s ease;

}



.about div p {
    color: rgba(255, 255, 255, 0.84);
    font-size: 16px;
}

.about div h2 {
    color: #b9e08e;
    margin-bottom: 15px;
    font-size: 32px;
}



/*Projetos card*/
.container_project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;




}

.projects {
    background-color: #0D0D0D;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.projects h2 {
    color: #9ec178;
    font-style: italic;
    font-size: 42px;
    margin-top: 40px;
    padding-left: 45%;
    margin-bottom: 80px;

}

.container_project .card {
    box-shadow: 8px 8px 8px 8px rgba(1, 0, 0, 0.4);
    background-color: rgb(21, 21, 21);
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 30%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s ease-in-out;
}

.container_project .card h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 30px;
}

.card .img {
    display: flex;
    position: relative;
    height: auto;
    overflow: hidden;
    border-radius: 12px;

}

.card .img img {
    max-width: 100%;
    border-radius: 10px;
    height: 180px;
    margin-bottom: 40px;
    display: block;
    object-fit: cover;


}


.container_project .card .text {
    color: rgba(255, 255, 255, 0.66);
    font-size: 18px;
    padding-bottom: 30px;

}

.container_project .card .tex {
    color: rgba(255, 255, 255, 0.66);
    font-size: 18px;
    padding-bottom: 0;
}

.container_project .card .Tec {
    color: rgba(255, 255, 255, 0.66);
    font-size: 18px;
    padding-bottom: 0;
}

.container_project .card:hover {
    background-color: rgb(29, 29, 29);

}

/*Butão olho*/
.card .button {
    position: absolute;
    top: 45%;
    left: 63%;
    transform: translate(-40%, -70%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transition: all 0.4s ease;




}

.button svg {
    width: 50px;

    height: 50px;

}

.card .button a {
    color: #333;
    display: flex;
    opacity: 0;
    transition: all 0.4s ease;
}

.container_project .card:hover .button {

    z-index: 10;
}

.container_project .card:hover a {
    opacity: 1;
}

.card .button:hover a {
    color: white;
}

.card .button:hover {
    background-color: black;
}

/*butão github*/
.card .button_github {
    position: absolute;
    top: 45%;
    left: 33%;
    transform: translate(-40%, -70%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transition: all 0.4s ease;




}

.button_github svg {
    width: 50px;

    height: 50px;

}

.card .button_github a {
    color: #333;
    display: flex;
    opacity: 0;
    transition: all 0.4s ease;
}

.container_project .card:hover .button_github {

    z-index: 10;
}

.container_project .card:hover a {
    opacity: 1;
}

.card .button_github:hover a {
    color: white;
}

.card .button_github:hover {
    background-color: black;
}











/*CARD EM BREVE*/
.shortly-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D;
    width: 100%;
    padding-bottom: 60px;
}

.shortly-container .shortly {
    box-shadow: 8px 8px 8px 8px rgba(1, 0, 0, 0.4);
    background-color: rgb(21, 21, 21);
    display: block;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s ease-in-out;
    align-items: center;
    justify-content: center;





}

.shortly h3 {
    color: white;
    padding-bottom: 20px;
    font-size: 22px;
}

.shortly .tres-pontos {
    color: rgba(255, 255, 255, 0.66);
    width: 30px;
    height: 30px;
    padding-bottom: 10px;


}

.shortly p {
    color: white;
    color: rgba(255, 255, 255, 0.66);


}

.shortly .svg-terminal {
    color: rgba(255, 255, 255, 0.66);
    width: 35px;
    height: 35px;
    margin-top: 50px;


}



@media (min-width: 1650px) {
    .main h1 {
        font-size: 50px;
    }


}


@media (max-width: 1100px) {
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;



    }

    .main h4 {
        margin-top: 30px;
        text-align: center;
        font-size: 17px;
        margin-bottom: 8px;
    }

    .main p {
        margin-bottom: 5px;
        padding-left: 0px;
        font-size: 20px;

    }

    .main .call-to-action {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .main .texto-inicial {
        margin-bottom: 0;

    }

}

@media (min-width: 900px) {
    .about img:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 850px) {
    /*Main */

    .main {
        justify-content: space-around;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 0;
        height: 65vh;


    }

    .main h4 {

        text-align: center;
        font-size: 19px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7%;
    }



    .main .call-to-action {
        padding-bottom: 15%;
    }

    /*FIm Main*/


    /*About*/
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
        position: relative;


    }

    .about div {
        max-width: 100%;
        margin-bottom: 7%;

    }

    .about div h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
    }

    .about img {
        max-width: 320px;
        display: block;
        margin: 0 auto;
        position: relative;
        margin-right: 50px;
    }
}